<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <h1 class="px-3 mx-auto">
        Welcome to
        <script src="https://kit.fontawesome.com/9c11671e7c.js" crossorigin="anonymous"></script>
        <i class="fa-solid fa-book"></i>
        <strong>Bookders</strong>!
      </h1>
    </div>
  </div>
</main>